{% extends 'base.html'%}
{% load static %}
{% block content %}


      <!-- Main Content -->
      <div id="content">


        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
          </div>

          <!-- Content Row -->
          <div class="row">

            <!-- Add a new transaction -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <a href="add_newTransaction">
                    <div class="col-auto">
                      <i class="fa fa-plus-square fa-2x text-gray-300"></i>
                    </div
                    ></a>

                    <div class="col mr-2">
                     <a href="add_newTransaction">
                      <div style="float:right" class="text-xs font-weight-bold text-primary text-uppercase mb-0">Add a new transaction</div>
                     </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

           <!-- Update Inventory Item -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <a href="update_inventoryItem">
                    <div class="col-auto">
                      <i class="fas fa-edit fa-2x text-gray-300"></i>
                    </div>
                    </a>
                    <a href="update_inventoryItem">
                    <div class="col mr-2">
                      <div style="float:right" class="text-xs font-weight-bold text-primary text-uppercase mb--1">Update Inventory Item</div>
                    </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <!-- Add a new item -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <a href="add_newItem">
                    <div class="col-auto">
                      <i class="fa fa-plus-circle fa-2x text-gray-300"></i>
                    </div>
                    </a>
                    <div class="col mr-2">
                    <a href="add_newItem">
                      <div style="float:right" class="text-xs font-weight-bold text-primary text-uppercase mb--1">Add a new item</div>
                    </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Items with low quantity -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-danger shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <a href="low_Items">
                      <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">low quantity items</div>
                      </a>
                      <a href="low_Items">
                      <div class="h5 mb-0 font-weight-bold text-grey-800">{{low_item}}</div>
                      </a>
                    </div>
                    <a href="low_Items">
                    <div class="col-auto">
                      <i class="fas fa-exclamation fa-2x text-danger"></i>
                    </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Content Row -->

         
          <!-- Content Row -->
          <div class="row">

            <!-- Content Column -->
            <div class="col-lg-6 mb-4">

              <!-- Last 4 transaction -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Recent Transactions</h6>
                </div>
                <div class="card-body">
                  <table class="table table-bordered"  width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Item ID</th>
                      <th>Item Quantity</th>
                      <th>Date</th>
                      <th>Discount</th>
                      <th>Amount</th>
                    </tr>
                  </thead>
                  <tbody>
                   {% for transaction in last_trn %}
                   <tr>
                      <td>{{transaction.ItmID_inv.itemsID_inv}}</td>
                      <td>{{transaction.ImtQnt_inv}}</td>
                      <td>{{transaction.Date_inv}}</td>
                      <td>{{transaction.Discount_inv}}</td>
                      <td>{{transaction.Amount_inv}}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
                </div>
              </div>

              

            </div>

            <div class="col-lg-6 mb-4">

              {% comment %} <!-- Illustrations -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Illustrations</h6>
                </div>
                <div class="card-body">
                  <div class="text-center">
                    <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;" src="{% static 'img/undraw_posting_photo.svg' %}" alt="">
                  </div>
                  <p>Add some quality, svg illustrations to your project courtesy of <a target="_blank" rel="nofollow" href="https://undraw.co/">unDraw</a>, a constantly updated collection of beautiful svg images that you can use completely free and without attribution!</p>
                  <a target="_blank" rel="nofollow" href="https://undraw.co/">Browse Illustrations on unDraw &rarr;</a>
                </div>
              </div> {% endcomment %}
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

{% endblock %}